<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>RubyMeetup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'frontend' %>
    <%= stylesheet_pack_tag 'frontend' %>
  </head>

  <body class="bg-light">
    <div id="app">Загрузка...</div>
  </body>
</html>
