<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>RubyMeetup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue/dist/bootstrap-vue.min.css">

    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
  </head>

  <body class="bg-light">
    <div id="app">
      <%= yield %>
    </div>

    <script>
      new Vue({ el: '#app' });
    </script>
  </body>
</html>
